<section class="px-5 pt-5 pb-3 dark-blue-background text-light" *ngIf="isLoaded">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-4 col-6">
            <button (click)="goBack()" class="button-style button-font">Nazad</button>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <form (ngSubmit)="Submit()" [formGroup]="povredaForm">
            <h2 class="reg-lbl text-light">Unos povrede</h2>
            <mat-form-field appearance="fill" class="col-lg-6 col-12">
                <mat-label>Datum</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Unesite datum" id="datepicker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                
            </mat-form-field>
            <div *ngIf="errorMessage!=null" class="red-dot">
                
                {{errorMessage}}
            </div>

            <div class="mb-3">
                <label for="povreda" class="col-form-label text-light">Vrsta povrede</label>
                <select class="form-control" name="povreda" id="povreda" formControlName="povreda">
                    <option selected value="Povreda skocnog zgloba">Povreda skocnog zgloba</option>
                    <option value="Povreda kolena">Povreda kolena</option>
                    <option value="Povreda lakta">Povreda lakta</option>
                    <option value="Povreda rucnog zgloba">Povreda rucnog zgloba</option>
                </select>

            </div>
            <div class="mt-2 text-center">
                <button type="submit" class="button-style" id="confirmRegistration">Unesi</button>
            </div>
        </form>
    </div>




</section>