<section class="register-section">
    <form register [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        <div class="register-container">
            <div class="row">
                <div class="col-md-4 col-12 center dark-blue-background p-5">
                    <div class="row text-center">
                        <div class="col center reesen-big-lead-text join-us mb-3">
                            {{this.id ? 'Ažuriraj' : 'Kreiraj'}} artikal
                        </div>
                        <div class="col center">
                            <img src="../../../assets/sport.png" alt="Certificate" class="logo-image">
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-12">
                    <h1 class="reg-lbl">{{this.id ? 'Ažuriraj' : 'Kreiraj'}}</h1>
                    <div class="alert alert-danger" role="alert" *ngIf="hasError">
                        {{errorValue}}
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="!hasError && successfullyRegistered">
                        {{successMessage}}
                    </div>
                    <div class="row">
                        <div class="mb-2 space col d-flex flex-column align-items-center">

                            <div id="profileImage" class="image-around">
                                <img *ngIf="imageBase64" class="image-input" [src]="imageBase64" alt="Profile Image">
                            </div>
                            <input type="file" #fileInput id="fileInput" style="display: none" accept="image/*"
                                (change)="onFileChange($event)">
                            <button type="button" class="button-style" (click)="fileInput.click()">Izaberi
                                sliku</button>
                            <div *ngIf="hasError" class="red-dot">
                                {{ errorValue }}
                            </div>
                        </div>
                    </div>
                    <div class="row mx-5">
                        <div class="col-12 mt-1">
                            <label for="name" class="label-reg">Naziv</label>
                            <input type="text" formControlName="name" class="form-control" id="name"
                                placeholder="Marko">
                        </div>
                        <div class="col-12 mt-1">
                            <label for="price" class="label-reg">Cena (eur)</label>
                            <input type="number" formControlName="price" class="form-control" id="price"
                                placeholder="1000">
                        </div>
                        <div class="col-12 mt-1">
                            <label for="brandName" class="label-reg">Brend</label>
                            <input type="text" formControlName="brandName" class="form-control" id="brandName"
                                placeholder="Adidas">
                        </div>
                        <div class="col-12 mt-1">
                            <label for="articleType" class="label-reg">Tip artikla</label>
                            <input type="text" formControlName="articleType" class="form-control" id="articleType"
                                placeholder="Oprema za tenis">
                        </div>
                        <div class="col-12 mt-1">
                            <label for="articleGenderType" class="label-reg">Tip artikla (Pol)</label>
                            <input type="text" formControlName="articleGenderType" class="form-control" id="articleGenderType" placeholder="Muški">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="ballType" class="label-reg">Tip lopte</label>
                            <input type="text" formControlName="ballType" class="form-control" id="ballType" placeholder="Fudbalska lopta">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="barbellWeight" class="label-reg">Težina šipke</label>
                            <input type="text" formControlName="barbellWeight" class="form-control" id="barbellWeight" placeholder="10 kg">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="barbelType" class="label-reg">Tip šipke</label>
                            <input type="text" formControlName="barbelType" class="form-control" id="barbelType" placeholder="Standardna šipka">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="dumbellWeight" class="label-reg">Težina bućica</label>
                            <input type="text" formControlName="dumbellWeight" class="form-control" id="dumbellWeight" placeholder="5 kg">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="elasticBandWeight" class="label-reg">Težina elastične trake</label>
                            <input type="text" formControlName="elasticBandWeight" class="form-control" id="elasticBandWeight" placeholder="2 kg">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="typeOfFootballGear" class="label-reg">Tip fudbalske opreme</label>
                            <input type="text" formControlName="typeOfFootballGear" class="form-control" id="typeOfFootballGear" placeholder="Kopačke">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="numberOfCramponsFootballShoeCrampons" class="label-reg">Broj krampona na fudbalskim patikama (čavlji)</label>
                            <input type="text" formControlName="numberOfCramponsFootballShoeCrampons" class="form-control" id="numberOfCramponsFootballShoeCrampons" placeholder="12">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="numberOfCramponsGrassFootballShoe" class="label-reg">Broj krampona na travnatom fudbalskom patiku</label>
                            <input type="text" formControlName="numberOfCramponsGrassFootballShoe" class="form-control" id="numberOfCramponsGrassFootballShoe" placeholder="6">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="typeOfOrientiringGear" class="label-reg">Tip opreme za orijentiring</label>
                            <input type="text" formControlName="typeOfOrientiringGear" class="form-control" id="typeOfOrientiringGear" placeholder="Kompas">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="racketWeight" class="label-reg">Težina reketa</label>
                            <input type="text" formControlName="racketWeight" class="form-control" id="racketWeight" placeholder="300 g">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="racketType" class="label-reg">Tip reketa</label>
                            <input type="text" formControlName="racketType" class="form-control" id="racketType" placeholder="Teniski reketa">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="racketSpanning" class="label-reg">Zategnutost reketa</label>
                            <input type="text" formControlName="racketSpanning" class="form-control" id="racketSpanning" placeholder="25 lbs">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="sweatpantsType" class="label-reg">Tip trenerke</label>
                            <input type="text" formControlName="sweatpantsType" class="form-control" id="sweatpantsType" placeholder="Standardna trenerka">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="typeOfTenisGear" class="label-reg">Tip opreme za tenis</label>
                            <input type="text" formControlName="typeOfTenisGear" class="form-control" id="typeOfTenisGear" placeholder="Teniski reket">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="tenisShoeSole" class="label-reg">Đon teniske patike</label>
                            <input type="text" formControlName="tenisShoeSole" class="form-control" id="tenisShoeSole" placeholder="Guma">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="weightliftingWeight" class="label-reg">Težina za podizanje tegova</label>
                            <input type="text" formControlName="weightliftingWeight" class="form-control" id="weightliftingWeight" placeholder="100 kg">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="weightliftingTypeOfGear" class="label-reg">Tip opreme za podizanje tegova</label>
                            <input type="text" formControlName="weightliftingTypeOfGear" class="form-control" id="weightliftingTypeOfGear" placeholder="Šipka">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="weightliftingGloveSize" class="label-reg">Veličina rukavice za podizanje tegova</label>
                            <input type="text" formControlName="weightliftingGloveSize" class="form-control" id="weightliftingGloveSize" placeholder="L">
                          </div>
                          <div class="col-12 mt-1">
                            <label for="racketSize" class="label-reg">Veličina reketa</label>
                            <input type="text" formControlName="racketSize" class="form-control" id="racketSize" placeholder="27 inches">
                          </div>
                        <div class="col-12 my-3 text-center">
                            <button type="submit" class="button-style">Registracija</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>