<div class="row text-center my-3">
    <div class="col-12">
        <h2>Generišite template pravila</h2>
    </div>
</div>

<div class="row mx-3">
    <div class="col-lg-4 col-12">
        <div class="form-group col-12 mt-2">
            <label for="sport" class="my-1">Sport</label>
            <select id="sport" name="sport" class="form-control" [(ngModel)]="selectedSport"
                (change)="onSportChange($event)">
                <option value="0" selected>Izaberite sport</option>
                <option *ngFor="let sport of sports" [value]="sport">{{ sport | camelCase }}</option>
            </select>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col-12" *ngIf="selectedSport === 'Fudbal'">
        <h4>Tekst pravila</h4>
        <h6>Ako je sport fudbal i brend (selektovan brend) preporuči dresove tog brenda sa cenom ispod zadate cene</h6>
    </div>
    <div class="col-12" *ngIf="selectedSport === 'Tenis'">
        <h4>Tekst pravila</h4>
        <h6>Ako je sport tenis i brend (selektovan brend) preporuči znojnice tog brenda sa cenom ispod zadate cene</h6>
    </div>
</div>