<div class="article-card dark-border px-3 pt-2">
    <div class="image-container" (click)="showArticle(article.id)">
        <img #articleImage src="../../../assets/sport.png" alt="Article Image" [id]="article.id.toString()">
    </div>
    <div>
        <div class="details" (click)="showArticle(article.id)">
            <h2 class="name">{{ article.name }}</h2>
            <p class="brand">Brand: {{ article.brandName }}</p>
            <p class="type">Type: {{ article.articleType  | camelCase }}</p>
            <p class="price">Price: ${{ article.price | number: '1.1-2' }}</p>
            <p class="price">Average rating: <b>{{ article.rating | number: '1.1-2' }}</b></p>
            <p class="price">Total ratings: <b>{{ article.totalRatings }}</b></p>
        </div>
        <div class="button-container">
            <button type="button" class="button-style" (click)="showArticle(article.id)">Show</button>
        </div>
    </div>
</div>