<div class="article-card dark-border px-3 pt-2">
    <div class="image-container" (click)="showArticle(article.id)">
        <img #articleImage src="../../../assets/sport.png" alt="Article Image" [id]="article.id.toString()">
    </div>
    <div>
        <div class="details" (click)="showArticle(article.id)">
            <h2 class="name">{{ article.name }}</h2>
            <p class="brand">Brend: {{ article.brandName }}</p>
            <p class="type">Tip: {{ article.articleType | translate | camelCase }}</p>
            <p class="price">Cena: ${{ article.price | number: '1.1-2' }}</p>
            <p class="price">Prosečna ocena: <b>{{ article.rating | number: '1.1-2' }}</b></p>
            <p class="price">Ukupno ocena: <b>{{ article.totalRatings }}</b></p>
        </div>
        <div>
            <button type="button" class="button-style" (click)="showArticle(article.id)">Prikaži</button>
        </div>
    </div>
</div>