img{
    width:200px;border-radius: 50%;height:auto;
}
section{
    width: 70%;
    margin: 20px auto;
}

.info-text{
    font-size: 20px;
}
.button-font{
    font-size: 18px;
    padding: 14px;
}
.table-container {
    max-height: 240px; /* Set the desired fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.table-text-white {
    color: white;
  }
@media only screen and (max-width: 800px) {
    section{
        width: 90%;
    }
    
}
