<section class="p-5 dark-blue-background text-light" *ngIf="isLoaded">
    <div class="row">
        <div class="col-md-3 col-12">
            <div class="row text-center">
                
            </div>
            

        </div>
        <div class="col-md-8 col-12 p-2">
            <div class="col-12">
                <h2>{{profile.firstName}} {{profile.lastName}}</h2>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 col-6 info-text">Email</div>
                <div class="col-6 info-text">{{profile.email}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4 col-6 info-text">Pol</div>
                <div class="col-6 info-text">{{profile.gender}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4 col-6 info-text">Visina</div>
                <div class="col-6 info-text">{{profile.height}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4 col-6 info-text">Godine</div>
                <div class="col-6 info-text">{{profile.age}}</div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <button type="button" class="button-style button-font" id="change password">Edit Password</button>
                </div>
                <div class="col-6">
                    <button type="button" class="button-style button-font" id="change password" (click)="editProfile()">Izmeni profil</button>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="loader" *ngIf="!isLoaded"></div>