<div class="row dark-border mx-3 my-2 p-2">
    <div class="col-12 text-center">
        <h1>Filters</h1>
    </div>
    <div class="col-12">
        <form [formGroup]="filterForm" (ngSubmit)="filterSubmitted()" class="">
            <div class="row">
                <div class="col-6">
                    <div class="alert alert-warning" role="alert" *ngIf="hasError">
                        Fulfill all fields correctly. Sport is.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3 col-12 mt-2">
                    <label for="sport">Sport</label>
                    <select formControlName="sport" id="sport" class="form-control">
                        <option value="" disabled selected>Choose sport</option>
                        <option *ngFor="let sport of sports" [value]="sport">{{ sport | translate | camelCase }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-12 mt-2" *ngIf="filterForm.get('sport').value === 'Fudbal'">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="typeOfFootball">Type of game</label>
                            <select formControlName="typeOfFootball" id="typeOfFootball" class="form-control">
                                <option value="" disabled selected>Choose type of game</option>
                                <option *ngFor="let sport of sportFootballTypes" [value]="sport">{{ sport | translate |
                                    camelCase }}
                                </option>
                            </select>

                        </div>
                        <div class="form-group col-6">
                            <label for="typeOfFotballPlayer">Type of player</label>
                            <select formControlName="typeOfFotballPlayer" id="typeOfFotballPlayer" class="form-control">
                                <option value="" disabled selected>Choose type of player</option>
                                <option *ngFor="let sport of typeOfFootballPlayers" [value]="sport">{{ sport | translate
                                    | camelCase
                                    }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3 col-12 mt-2" *ngIf="filterForm.get('sport').value === 'Tenis'">
                    <div class="form-group">
                        <label for="typeOfField">Field</label>
                        <select formControlName="typeOfField" id="typeOfField" class="form-control">
                            <option value="" disabled selected>Choose field</option>
                            <option *ngFor="let sport of sportTenisFields" [value]="sport">{{ sport | translate |
                                camelCase }}
                            </option>
                        </select>

                    </div>
                </div>

                <div class="form-group col-md-3 col-12 mt-2" *ngIf="filterForm.get('sport').value === 'Orijentiring'">
                    <div class="form-group">
                        <label for="typeOfRace">Type of race</label>
                        <select formControlName="typeOfRace" id="typeOfRace" class="form-control">
                            <option value="" disabled selected>Choose type of race</option>
                            <option *ngFor="let sport of sportOrientiringTypes" [value]="sport">{{ sport | translate |
                                camelCase }}
                            </option>
                        </select>

                    </div>
                </div>

                <div class="form-group col-md-3 col-12 mt-2" *ngIf="filterForm.get('sport').value === 'DizanjeTegova'">
                    <div class="form-group">
                        <label for="typeOfWeightlifting">Type of lifter</label>
                        <select formControlName="typeOfWeightlifting" id="typeOfWeightlifting" class="form-control">
                            <option value="" disabled selected>Choose type of lifter</option>

                            <option *ngFor="let sport of sportWeightliftingTypes" [value]="sport">{{ sport | translate |
                                camelCase
                                }}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-12 my-2">
                    <div class="row">
                        <div class="form-group col-md-3 col-12 mt-2">
                            <label for="level">Level</label>
                            <select formControlName="level" id="level" class="form-control">
                                <option value="" disabled selected>Choose level</option>

                                <option *ngFor="let level of levels" [value]="level">{{ level | translate | camelCase }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-12 mt-2">
                            <label for="gender">Gender</label>
                            <select formControlName="gender" id="gender" class="form-control">
                                <option value="" disabled selected>Choose gender</option>
                                <option *ngFor="let gender of genders" [value]="gender">{{ gender | translate }}
                                </option>
                            </select>

                        </div>

                        <div class="form-group col-md-3 col-12 mt-2">
                            <label for="height">Height (cm)</label>
                            <input type="number" formControlName="height" id="height" min="90" max="300"
                                class="form-control" placeholder="170">
                        </div>

                        <div class="form-group col-md-3 col-12 mt-2">
                            <label for="age">Age</label>
                            <input type="number" formControlName="age" id="age" min="3" max="120" class="form-control"
                                placeholder="18">
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="form-group mt-3 col-md-6 col-12">
                            <label>
                                <h3>Injuries</h3>
                            </label>
                            <div class="row p-3">
                                <div *ngFor="let injury of injuries" class="form-check col-3">
                                    <input type="checkbox" [id]="'injury_' + injury.id" [value]="injury.id"
                                        (change)="onInjuryChange($event, injury.id)" class="form-check-input">
                                    <label [for]="'injury_' + injury.id" class="form-check-label">{{ injury.name
                                        | translate}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-3">
                            <div class="row">
                                <div class="col-md-4 col-12" *ngIf="id !== -1 && isLoggedIn">
                                    <button type="button" class="button-style" (click)="prefill()">Fulfill my
                                        filters</button>
                                </div>
                                <div class="col-md-4 col-12">
                                    <button type="button" class="button-style" (click)="removeFilters()">Remove
                                        filters</button>
                                </div>
                                <div class="col-md-4 col-12">
                                    <button type="submit" class="button-style">Apply</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>