<div class="row mt-2">
    <div class="col-lg-6 col-12" style="font-size: 32px;">
        <span class="fa fa-star mx-1" id="rating11" 
        (click)="setRating(1)" (mouseenter)="handleMouseEnter(1)"
        (mouseleave)="handleMouseExit()"></span>
        <span class="fa fa-star mx-1" id="rating22" 
        (click)="setRating(2)" (mouseenter)="handleMouseEnter(2)"
        (mouseleave)="handleMouseExit()"></span>
        <span class="fa fa-star mx-1" id="rating33" 
        (click)="setRating(3)" (mouseenter)="handleMouseEnter(3)"
        (mouseleave)="handleMouseExit()"></span>
        <span class="fa fa-star mx-1" id="rating44" 
        (click)="setRating(4)" (mouseenter)="handleMouseEnter(4)"
        (mouseleave)="handleMouseExit()"></span>
        <span class="fa fa-star mx-1" id="rating55" 
        (click)="setRating(5)" (mouseenter)="handleMouseEnter(5)"
        (mouseleave)="handleMouseExit()"></span>
    </div>
</div>