<section class="login-section dark-blue-background">
  <div class="row text-center align-items-center ">

    <div class="col-12 col-md-8 px-5">
      <div class="row">
        <div class="col-md-6 col-12 mb-5 mb-md-1">
          <p class="reesen-big-lead-text join-us center-text text-shadow text-light">Dobrodošli nazad.</p>
        </div>
        <div class="col-md-6 col-12">
          <img src="../../../assets/sport.png" alt="Home Logo" class="logo-image">
        </div>
      </div>

    </div>

    <div class="col-12 col-md-4 p-5 login-section-input">
      <form login [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="alert alert-danger" role="alert" *ngIf="hasError">
          Email or password are incorrect.
        </div>
        <div class="mb-3">
          <label for="email" class="col-form-label dark-blue-color align-text-left">Unesite Email
          </label>
          <input type="text" class="form-control" name="email" id="email" placeholder="marko@gmail.com"
            formControlName="email">
          <div *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched" class="red-dot">
            Email je obavezan.
          </div>
          <div *ngIf="loginForm.get('email').hasError('minlength') && loginForm.get('email').touched" class="red-dot">
            Email mora biti duži.
          </div>
          <div *ngIf="loginForm.get('email').hasError('email')
                    && loginForm.get('email').touched" class="red-dot">
            Email nije u dobrom formatu.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="col-form-label dark-blue-color align-text-left">Unesite Lozinku</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Lozinka123"
            formControlName="password">
          <div *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"
            class="red-dot">
            Lozinka je obavezna.
          </div>
          <div *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched"
            class="red-dot">
            Lozinka mora biti bar 6 karaktera.
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="button-style" id="confirmLogin">Ulogujte se</button>
          <h3 class="py-3"><a [routerLink]="['/register']" class="dark-blue-color">Nov nalog? Registrujte se.</a></h3>
        </div>

      </form>

    </div>
  </div>
</section>